.container {
    display: flex;
    flex-wrap: wrap;
    background-color: LightBlue;
    gap: 15px;
    padding: 20px;
}

.container div {
    background-color: #f1f1f1;
    width: 250px;
    padding: 20px;
    text-align: left;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container div h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.container div p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}
